/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* After reset */

#controls {
  position: absolute;
  top: 0;
  width: 90vw;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  position: relative;
  background: none;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  color: #007bff;
  font-weight: bold;
  outline: 3px solid #007bff;
  transition: color 0.3s ease;
}

.arrow:hover {
  color: #0056b3;
  outline: 3px solid #0056b3;
}

.arrow.prev {
  padding-right: 20px;
}

.arrow.next {
  padding-left: 20px;
}

.arrow.prev::before,
.arrow.next::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.arrow.prev::before {
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  border-width: 8px 10px 8px 0;
  border-color: transparent #007bff transparent transparent;
}

.arrow.next::after {
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #007bff;
}

.arrow.prev:hover::before,
.arrow.next:hover::after {
  border-color: transparent #0056b3 transparent #0056b3;
}

@media only screen and (max-width: 50em) {
  #controls {
    align-items: flex-end;
    height: auto;
    top: 90%;
  }
}
